@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Montserrat:ital,wght@1,500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

/* NAVBAR */

.header {
    /* border: 2px solid red; */
    font-family: "Geologica", sans-serif;
    width: 100%;
    height: fit-content;
    background-color: rgba(46, 42, 42, 0.502);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 2%;
    border-radius: 5px;
    direction: ltr;
  }  
    /* END OF NAVBAR */

/* CARDS */

.heading {
    /* border: 2px solid red; */
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#cards {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 35px;
    gap: 30px;
}

.card {
    /* border: 2px solid yellow; */
    background-color: rgba(46, 42, 42, 0.502);
    width: 500px;
    height: fit-content;
    box-shadow: 0 0 7px 3px grey;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* padding:10px; */
    margin-bottom: 2em;
    cursor: pointer;
}

.card:hover {
  transition: 0.4s;
  background: #2a2d34;
}

.card p {
    /* border: 2px solid green; */
    color: white;
    font-weight: 550;
    margin-top: 15px;
}

.card a {
  /* border: 2px solid red; */
  color: white;
  width: 100%;
  font-weight: 600;
  margin-top: 15px;
  font-size: 20px;
}

.title{
    /* border: 2px solid red; */
    height: 70px;
    font-size: 25px;
    font-weight: 550;
    color: white;

}

.images {
    width: fit-content;
    height: fit-content;
    z-index: -1;
}

/* Dropdown menu styles */
.dropdown {
  /* border: 2px solid red; */
  width: fit-content;
  position: relative;
  /* background-color: rgba(46, 42, 42, 0.8); */
  border-radius: 5px;
  padding: 10px;
  margin-left: 70px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.dropdown * {
  /* border: 2px solid green; */
  box-sizing: border-box;
}

.select {
  /* border: 2px solid red; */
  /* background: rgba(46, 42, 42, 0.8); */
  color: white;
  display: flex;
  border-radius: 0.5em;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.select a{
  text-decoration: none;
}

.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  background: #323741;
}

.menu {
  /* border: 2px solid yellow; */
  list-style: none;
  /* padding: 0.2em 0.5em; */
  background: rgba(46, 42, 42, 0.8);;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;
  position: absolute;
  align-items: center;
  text-align: center;
  top: 3em;
  width:250px;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
  pointer-events: none;
}

.menu li {
  /* border: 2px solid yellow; */
  /* padding: 0.7em 0.5em; */
  padding: 10px;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.menu li a{
  /* border: 2px solid red; */
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

.selected {
  /* border: 2px solid green; */
  text-decoration: none;
  color: white;

}

.active {
  /* border: 2px solid red; */
  background-color: rgba(46, 42, 42, 0.8);
}

.menu-open {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

#myInput {
  /* border: 2px solid red; */
  display: block;
  width: fit-content;
  height: 50px;
  border-radius: 5px;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  font-size: 20px;
  background: rgba(46, 42, 42, 0.8);;
  color: white;
  padding: 5px 20px;
  
}

@media only screen and (max-width: 900px) {
  .dropdown {
    /* border: 2px solid red; */
    font-size: 15px;
    width:fit-content;
    height: fit-content;
  }

  .menu {
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
    width: 140px;
    transform: translateX(-50%);
    justify-content: space-evenly;    
    margin-top: 10px;
  }

  .menu li {
    /* border: 2px solid yellow; */
    /* padding: 0.7em 0.5em; */
    padding: 5px;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100px;

  }
  
  .menu li a{
    /* border: 2px solid red; */
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin-right: 20px;
  }
  
  #myInput {
    display: none;
  }

}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label .description,
input[type="checkbox"] + label .info,
input[type="checkbox"] + label .type {
  display: block;
  opacity: 1; 
  max-height: 1000px; 
  overflow: hidden; 
  /* transition: opacity 0.5s ease, max-height 0.5s ease;  */
}

input[type="checkbox"]:checked + label .description,
input[type="checkbox"]:checked + label .info,
input[type="checkbox"]:checked + label .type {
  display: none;
  opacity: 0;
  max-height: 0; 
  /* transition: opacity 0.5s ease, max-height 0.5s ease;  */
}

input[type="checkbox"] + label .instructions,
input[type="checkbox"] + label .link {
  display: none;
  opacity: 0; 
  max-height: 0; 
  overflow: hidden; 
  /* transition: opacity 0.5s ease, max-height 0.5s ease;  */
}

input[type="checkbox"]:checked + label .instructions,
input[type="checkbox"]:checked + label .link {
  display: block;
  opacity: 1; 
  max-height: 1000px; 
  /* transition: opacity 0.5s ease, max-height 0.4s ease;  */
}
/* END OF CARDS */

/* FOOTER */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(46, 42, 42, 0.502);
  border: 2px solid red;
}

.container-footer {
  width: 100%;
  font-family: 'Geologica';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
}

.container-footer h3 {
  color: white;
  font-size: 24px; /* Adjust size as needed */
  margin: 0; /* Reset margin */
}

.container-footer p {
  color: white;
  font-size: 16px; /* Adjust size as needed */
  margin: 5px 0; /* Adjust margins as needed */
}

.container-footer a {
  color: white;
  text-decoration: none;
  /* Additional styling for link if needed */
}