@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Montserrat:ital,wght@1,500&display=swap');

* {
    
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body {
    border: 2px solid red;
    height: 100%;
    font-family: "Geologica";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* NAVBAR */

:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

label.logo {
    cursor: pointer;
    color: white;
    font-size: 35px;
    line-height: 70px;
    padding: 0 80px;
    font-weight: 100;
}

.container {
  border: 2px solid red;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}
#navbar {
  --navbar-height: 70px;
  position: relative;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}
.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: relative;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/* END OF NAVBAR */

.container2 {
  border: 2px solid red;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 1700px;
  height: 650px;
}

.text-box1 {
  border: 2px solid blue;
  margin-left: 10px;
  margin-top: 20px;
}

.text-box1 h3{
  border: 2px solid red;
  margin-left: 20px;
  font-size: 35px;
  color: black;
}

.text-box1 li {
  font-size: 25px;
  color: black;
}

.item-1 {
  border: 2px solid blue;
  margin-left: 10px;
  margin-top: 20px;
}

.item-1 h3{
  border: 2px solid red;
  margin-left: 20px;
  font-size: 35px;
  color: black;
}

.item-1 li {
  font-size: 25px;
  color: black;
}

/* Carousel section */

.container1 {
  border: 2px solid red;
  background-color: #24252A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 1500px;
  height: 650px;
}

.content {
  border: 2px solid blue;
  position: relative;
  width: 1500px;
  height: 650px;
}

/* ----- carousel content stylings ----- */
        /* places the carousel content on center of the carousel */
        .carousel-content {
          border: 2px solid red;
          position: absolute;
          /*to center the content horizontally and vertically*/
          top: 80%;
          left: 20%;
          transform: translate(-50%, -50%); 
          text-align: center;
          z-index: 50;
      }
      .carousel-heading {
          display: flex;
          border: 2px solid red;
          font-size: 3rem;
          color: black;
          margin-bottom: 1rem;
      }
      /*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
  height: 100%;
  overflow: hidden; /* to hide slides in x-direction */
  position: relative;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
  border: 2px solid red;
  display: flex;
  /* We give it width as 400% because we are making a 
     4 image carousel. If you want to make for example, 
     5 images carousel, then give width as 500%. */
  width: 400%;
  height: 100%;
  position: relative;
  /* you can change the animation settings from below */
  animation: slideshow 20s infinite;
}
/* define width and height for images*/
.slide1  {
  width: 100%;
  height: 100%;
}
.slide-img1 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.slide2  {
  width: 100%;
  height: 100%;
}
.slide-img2 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.slide3  {
  width: 100%;
  height: 100%;
}
.slide-img3 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.slide4  {
  width: 100%;
  height: 100%;
}
.slide-img4 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
/* @keyframes are used to provide animations
 We make these settings for 4 image carousel.
 Make modification according to your needs. */
@keyframes slideshow {
  0%  { left: 0; }
  10% { left: 0; }
  15% { left: -100%; }
  25% { left: -100%; }
  30% { left: -200%; }
  40% { left: -200%; }
  45% { left: -300%; }
  55% { left: -300%; }
  60% { left: -200%; }
  70% { left: -200%; }
  75% { left: -100%; }
  85% { left: -100%; }
  90% { left: 0%; }
}
/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-btn {
  border: #24252A;
  background-color: lightblue;
  border-radius: 10px;
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  cursor: pointer;
  /* stylings for positioning the buttons at
     the bottom of the carousel */
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 70;
}
/* As we provide position as absolute, 
the buttons places one over the other. 
So, we have to place them individually
at their correct positions. */
.slide-btn-1 {
  left: 45%;
}
.slide-btn-2 {
  left: 50%;
}
.slide-btn-3 {
  left: 55%;
}
.slide-btn-4 {
  left: 60%;
}
/* When we focus on the particular button, 
the animation stops to that particular image 
to which the button is associated. */
.slide-btn-1:focus~.slideshow-wrapper {
  animation: none;
  left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
  animation: none;
  left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
  animation: none;
  left: -200%;
}
.slide-btn-4:focus~.slideshow-wrapper {
  animation: none;
  left: -300%;
}
/* when we focus on the button, the background color changes */
.slide-btn:focus {
  background-color: #2c3e50;
}
/* ----- end of carousel control buttons stylings ----- */










