@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Montserrat:ital,wght@1,500&display=swap');
@import "compass/css3";
@import "compass/utilities/general/clearfix";

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Geologica", sans-serif;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }

body {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Geologica";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* NAVBAR */
/* .navbar {
    font-family: "Geologica", sans-serif;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* height: 100%; */
    /* width: 100%;
    border-radius: 0px; */
/* } */ 

header {
  /* border: 2px solid red; */
  font-family: "Geologica", sans-serif;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.828);
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-end;
  padding: 10px 2%;
}

.nav__links {
  overflow: hidden;
}

.nav__links a {
  margin-left: 15px;
  text-align: center;
}

  a {
  /* border: 2px solid green; */
  /* font-weight: 500; */
  font-family: 'Geologica';
  font-size: 25px;
  text-decoration: none;
}

header .logo {
    /* border: 2px solid red; */
    height: 8vh;
    width: 16vw;
    font-size: 4vh;
    margin-right: auto;
    cursor: pointer;
    color: white;
    padding: 5px 20px;

}

.nav__links a.active{
  color: white;
}

.nav__links .icon {
  border: 2px solid red;
  display: none;
  width: 100%;
  height: 100%;
}

.nav__links {
  /* border: 2px solid blue; */
  list-style: none;
  height: 6.5vh;
  width: 42vw;
  display: inline-block;
  justify-content: space-between;
  padding: 0px 20px; 
}

.nav__links a {
  /* border: 2px solid red; */
  transition: all 0.3s ease 0s;
  color: #777;
  font-size: 3.75vh;
}

.nav__links a:hover {
  color: white;
}


/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .nav__links a:not(:last-child) {
      display: none;
  }

  .nav__links a.icon {
      float: right;
      display: block;
  }

  .nav__links.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  .nav__links.responsive a {
      float: none;
      display: block;
      text-align: left;
      height: 100%;
      width: 100%;
  }
}

/* Media query for mobile devices */
/* @media screen and (max-width: 600px) {
  .nav__links a:not(:first-child) {display: none;}
  .nav__links a.icon {
    float: right;
    display: block;
  }
} */

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/* @media screen and (max-width: 600px) {
  .nav__links.responsive {position: relative;}
  .nav__links.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav__links.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */


/* .collapse {
    display: flex; */
    /* align-items: baseline; */
/* } */

/* .navbar-nav { */
    /* border: 2px solid blue;
    height: 8vh;
    right: 300px;
    margin-left: 1050px; */
/* } */

/* .navbar-nav a{
    border: 2px solid red;
    /* width: auto; */
    /* height: 100%;
    font-size: 25px; */
/* }  */

/* .navbar-links { */
  /* border: 2px solid red; */
  /* list-style: none; */
  /* position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
/* } */

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: relative;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/* END OF NAVBAR */

/* hero background image */
.mainimage {
  position: relative;
  height: 10vh;
  width: 90%;
  background: url('');
  background-size: 100vw 100vh;
  padding: 0;
  margin-top: 10px;
}

.hero_desc {
  position: relative;
  font-size: 1.5rem;
}


/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper {
  /* border: 2px solid red; */
  width: 90vw;
  height: 750px;
  margin: 1em auto;
  position: relative;
}

input {
  display: none;
}

.inner {
  /* border: 2px solid black; */
  width: 300%;
  line-height: 0;
}

article {
  /* border: 2px solid red; */
  width: 33.3333333333%;
  float: left;
  position: relative;
}
article img {
  width: 100%;
  height: 750px;
}

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
  /* border: 2px solid red; */
  height: 60px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider-prev-next-control label {
  /* border: 2px solid red; */
  display: none;
  align-items: center;
  width: 40px;
  top: 50%;
  height: 40px;
  border-radius: 50%;
  /* background: #fff; */
  opacity: 0.8;
}
.slider-prev-next-control label:hover {
  /* border: 2px solid red; */
  opacity: 1;
}

.slider-dot-control {
  /* border: 2px solid red; */
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.slider-dot-control label {
  /* border: 2px solid red; */
  cursor: pointer;
  border-radius: 13px;
  margin: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #bbb;
  transition: all 0.3s;
}
.slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}

/* Info Box */
.info {
  /* border: 2px solid red; */
  position: absolute; 
  font-style: 'Geologica';
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left; 
  transition: all 1s ease-in 500ms;
  position: absolute;
  align-items: center;
  left: 25px;
  top: 560px;
  padding: 15px 30px;
  color: white;
}
.info h3 {
  /* border: 2px solid red; */
  color: #fcfff4;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 60px;
  font-style: 'Geologica';
}

/* Slider Styling */
.slider-wrapper {
  /* border: 2px solid red; */
  height: 750px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  /* box-shadow: 1px 1px 4px #666; */
  background: #fff;
  background: #fcfff4;
  transform: translateZ(0);
  transition: all 500ms ease-out;
}
.slider-wrapper .inner {
  /* border: 2px solid green; */
  transform: translateZ(0);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
  /* border: 3px solid green; */
  font-family: FontAwesome;
  font-style: 'Geologica';
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  line-height: 40px;
  font-size: 50px;
  align-items: center;
  display: flex;
  /* color: #777; */
  color: white;
}

#slide3:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
  /* border: 2px solid red; */
  content: "\f105";
  padding-left: 10px;
}

#slide3:checked ~ .slider-prev-next-control label:nth-child(1), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide1:checked ~ .slider-prev-next-control label:nth-child(2) {
  display: block;
  float: right;
  margin-right: 5px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: left;
  margin-left: 5px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  /* border: 2px solid red; */
  content: "\f104";
  padding-left: 0px;
}

#slide3:checked ~ .slider-dot-control label:nth-child(3), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide1:checked ~ .slider-dot-control label:nth-child(1) {
  background: #333;
}

#slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide1:checked ~ .slider-wrapper article:nth-child(1) .info {
  opacity: 1;
}

#slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0%;
}
#slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}
#slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}
/*---- TABLET ----*/
/* @media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
} */
/*---- MOBILE----*/
/* @media only screen and (max-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
  .slider-wrapper .info {
    opacity: 0;
  }
} */
/* @media only screen and (min-width: 850px) {
  body {
    padding: 0 80px;
  } 
} sourceMappingURL=style_scss.css.map   */ 


/* OFERTA */

.container2 {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 375px;
  background-color: rgba(0, 0, 0, 0.828);
}

.container2 .text-box {
  width: 40vw;
  height: 375px;
  left: 30px;
  margin-top: 10px;
  margin-left: 90px;
}

.container2 .text-box h3{
  position: relative;
  width: 180px;
  height: 50px;
  font-family: "Geologica";
  font-size: 35px;
  color: white;
  left: 32px;
  margin-top: 10px;
  
}

.container2 .text-box li{
  position: relative;
  width: 400px;
  font-family: "Geologica";
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

.container2 .text-box p{
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;

}

/* KONIEC OFERTY */

/* FOOTER */

#footer {
  width: 100%;
  height: auto;
  background: rgb(135,143,175);
  background-color: rgba(0, 0, 0, 0.828);
}

.container-footer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.row2 h3{
  /* border: 2px solid green; */
  width: 100%;
  height: 30px;
  color: white;
  margin-left: 13px;
  margin-top: 10px;

}

.row2 p{
  /* border: 2px solid pink; */
  width: 100%;
  height: auto;
  font-size: 19px;
  margin-right: 120px;
  margin-left: 15px;
  margin-bottom: 100px;
  color: white;
}

.row2 {
  /* border: 2px solid red; */
  height: 250px;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: baseline; */
}

.text-box1{
  /* border: 2px solid orange; */
  margin-bottom: 80px;
  width: 330px;
  height: 200px;
  /* font-size: 20px; */
  color: white;
}

.text-box1 ul{
  /* border: 2px solid pink; */
  width: 470px;
  height: 170px;
}

.text-box1 li{
  /* border: 2px solid green; */
  list-style: none;
  font-size: 17px;
  height: 40px;
  color: white;
  z-index: 1;
  margin: 8px;
  margin-right: 30px;
  margin-top: 11px;
  width: 310px;
}

.Icons {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  width: auto;
  height: 200px;
  width: 45px;
  z-index: 1;
  margin-left: 5px;
}

.servicesIcon {
  /* border: 2px solid red; */
  color: white;
  height: 30px;
  width: 30px;
  font-size: 25px;
  margin: 10px;
  margin-left: 10px;
  z-index: 1;
  cursor: pointer;
}
